<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>      
      <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/creations">Creations</a></li>
              <li><a href="/photos">Photos</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
      <div id="main" role="main" class="container">
        {{ content }}
      </div>
      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <ul>
              <li><a href="mailto:jordanlayton@gmail.com">email me</a></li>
              <li>{% include simple_include_test.html %}</li>
            </ul>
          </footer>
        </div>
      </div>
      
    {% include analytics.html %}
		</body>
	</html>
